<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4>CONFIGURACION</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese el título" [(ngModel)]="title">
              </div>
              <div class="form-group">
                <label for="ganadores"># GANADORES</label>
                <input type="number" class="form-control" id="ganadores" name="ganadores" min="1" max="15" placeholder="Ingrese la cantidad de ganadores" [(ngModel)]="ganadores">
              </div>
              <div class="form-group">
                <label for="suplentes"># ANULADOS</label>
                <input type="number" class="form-control" id="suplentes" name="suplentes" min="0" max="15" placeholder="Ingrese la cantidad de suplentes" [(ngModel)]="anulados">
              </div>
              <div class="input-group">
  
                <div>
                  <input class="form-control mt-3"  type="file" (change)="onFileChange($event)" aria-label="Subir">
                </div>
              
              </div>
              <div class="text-center mt-4">
                <button type="button" class="btn btn-primary" (click)="guardarDatos()" >
                  Empezar
                </button>
                
              </div>
              <app-result></app-result>
              <div class="text-danger mt-2" *ngIf="errorMessage">{{ errorMessage }}</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  